@use "../../../../sass/variables" as *;

.stem-container {
  width: 100%;
  height: auto;
  border: $border;
  border-radius: getSpacing(sm);
  padding: getSpacing(md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: getSpacing(md);

  .single-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: getSpacing(xs);

    span {
      width: 2.4rem;
      height: 2.4rem;
      border: $border;
      border-radius: getSpacing(sm);
      @include flex-center;
      background-color: $bg-one;
    }
  }

  .stem-audio {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: getSpacing(md);

    .audio {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: getSpacing(md);

      .progress-bar {
        width: 100%;
        height: 6px;
        background: $border-color;
        border-radius: 999px;
        overflow: hidden;
        margin-top: 4px;
        cursor: pointer;

        .progress-fill {
          height: 100%;
          background: #fff;
          width: 0%;
          transition: width 0.5s linear;
        }
      }
    }

    .duration {
      font-size: 12px;
      opacity: 0.2;
    }
  }
}
