@use "sass:map";
@use "./typography" as *;

// COLOS
// $primary: #f8d231;

$bg-one: #0c0c0c;
$bg-two: #111;

$fg-one: #e6e6e6;

$border-color: #1b1b1b;

$border: 1px solid $border-color;

// FONTS

$font-regular: "roobert regular", sans-serif;
$font-medium: "roobert medium", sans-serif;
$font-bold: "roobert bold", sans-serif;

// Transition
$ease-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-two: cubic-bezier(0.83, 0, 0.17, 1);

// SPACING
$spacing-scale: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 6rem,
  3xl: 8rem,
);

// SIZES
$mobile: 480px; // phones
$tablet: 768px; // tablets
$laptop: 1024px; // small laptops
$desktop: 1280px; // desktops
$wide: 1536px; // big screens

// ----------------

// FUNCTIONS
@function getSpacing($size) {
  @return map.get($spacing-scale, $size);
}

@function rem($px) {
  @return $px / 16 * 1rem;
}

// MIXINS

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (max-width: $laptop) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  }
  @if $breakpoint == wide {
    @media (max-width: $wide) {
      @content;
    }
  }
}
